Source: goodbye
Maintainer: Adam Borowski <kilobyte@angband.pl>
Build-Depends: tcc
Section: misc
Priority: optional
Standards-Version: 3.9.2
Vcs-Git: git://gitorious.org/pkg-goodbye/goodbye.git
Vcs-Browser: https://gitorious.org/pkg-goodbye/goodbye/commits/master
Homepage: https://gitorious.org/pkg-goodbye

Package: goodbye
Architecture: all
Description: next part after 'hello', and a packaging example
 This is the much needed step after the traditional 'Hello world.'.
 .
 In fact, though, it is an example for Debian developers: a showcase of
 efficient packaging techniques.  It doesn’t require slow debhelper or even
 dpkg-dev, but uses a JIT compiler for speed.
